body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
/*    background-image: url('../img/x.jpg');	
    	*/
	background-image: url('../img/z.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
}
#img-div {
	margin-top: 100px;
	max-width: 40%;
	margin-left: 30%;
	opacity: 0.8;
}
#navbar {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: black;
  	border: 0;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 70px;
    font-size: 18px;
}

#navbottom {
	font-size: 25px;
	color: inherit;
	text-decoration: none;
}

#coby {
	margin-top: 10px;
	text-align: right;
	margin-left: 20px;
	color: grey;
	margin-right: 150px;
}

#subtitle {
	font-size: 16px; 
	font-style: italic; 
	line-height: 48px; 
	margin-top: 0px;
	text-align: center; 
}

.backgroundImg{
	background-size: auto 80%;
    min-width: 110%;
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: top left;
}


#logo {
	height: 0px;
	width: 0px;
	display: inline-block;
	float: left;
}

footer {
	position:fixed;
	bottom:10px;
	width:100%;
	left:0px;
	text-align: left;
	margin-left: 100px;
	background: transparent;
	/*border-top:1px solid #e3e3e3;*/
}

#icon a{
	color: inherit; 
    text-decoration: none;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    vertical-align: middle;
    position:relative;
    right: -10px;
    top: -200px;
}

#icons{
	padding-left: 550px;
	margin-top: 100px;
	opacity: 0.8;
}

#text {
	text-align: center;
	font-size: 35px;
	border-style: outset;
	margin-left: 35%;
	margin-right: 35%;
}

h1 {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

/*project page css*/
#pi {
	height: 80px;
    width: 80px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    float: left;
}

.ptext {
    text-align: left;
    margin-left: 6%;
    vertical-align: middle;
}

.ptext a {
	display: block;
}

#pdetails {
	display: inline-block;
	padding-bottom: 120px;
	margin-left: 10px;
  	width: 200px;
}

#pnames {
	margin-left: 10px;
	margin-bottom: 20px;
}

.title {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 40px;
}


/*morph pic of me*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 
.pic {
  border: 2px solid #fff;  
  float: left;
  height: 200px;
  width: 200px;
  margin: 20px;
  overflow: hidden;
  margin-bottom: 100px;
  margin-right: 100px;

  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*social media animation*/
#contact {
	padding: 50px;
	font-size: 20px;
	text-align: center;
}

.about {
	border-radius: 100px;
}

a,a:visited { color: #fff; }
a:hover { color: #fff; }

.social {
	float: right;
	margin: 2em 2em; width: 100px; height: 100px; 	
	display: block; text-align: center; line-height:103px; color: #fff;
	
	position: relative;
	transform:rotateY(0deg);
	transition:transform .25s ease-out;
	transform-style:preserve-3d;
}
.social > div {
	width: 100px; height: 100px; background: #000;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.social >.front {
	transform:translateZ(40px);
}
.social >.back {
	background: #3B5998; font-size: 3em;
	transform:rotateY(-100deg) translateZ(40px);
}

/*  Social Media Colors 
	Facebook #3B5998
	Flickr #FE0883
	Foursquare #8FD400
	Google+ #C63D2D
	Instagram #4E433C
	Linkedin #4875B4
	Tumblr #2B4964
	Twitter #33CCFF
	Vimeo #86B32D
	Youtube #FF3333
	Dribbble #ea4c89
*/
.social.social-twitter > .back { background: #55ACEE; }
.social.social-github > .back { background: #f3f3f3; color: #000; }
.social.social-pinterest > .back { background: #e3262e; }
.social.social-googleplus > .back { background: #dd4B39; }
.social.social-skype > .back { background: #12A5F4; }
.social.social-linkedin > .back { background: #4875B4; }
.social.social-envolope > .back { background: #ea4c89; }
.social.social-instagram > .back {background: #4E433C;}

/* Hover */
.social:hover {
	transform: rotateY(100deg);
}

#aboutTitle {
	margin-top: 60px;
}

@media screen and (min-width: 480px) {
	#logo {
		height: 50px;
		width: 50px;
		display: inline-block;
		float: left;
	}

	#pi {
		height: 120px;
	    width: 120px;
	    cursor: pointer;
	    position: relative;
	    margin-left: 30px;
	    float: left;
	}
	#pdetails {
		display: inline-block;
		padding-bottom: 120px;
		margin-left: 10px;
	  	width: 200px;
	}

	#pnames {
		margin-left: 30px;
		margin-bottom: 20px;
	}
	.ptext {
	    margin-left: 8%;
	}
	.social {
		width: 100px; height: 100px;
	}
	.pic {
		height: 250px;
  		width: 250px;
	}

}

@media screen and (min-width: 768px )  {
	#logo {
		height: 50px;
		width: 50px;
		display: inline-block;
		float: left;
	}
	#pi {
		height: 200px;
	    width: 200px;
	    cursor: pointer;
	    position: relative;
	    margin-left: 30px;
	    float: left;
	}
	#pdetails {
		display: inline-block;
		padding-bottom: 120px;
		margin-left: 30px;
	  	width: 400px;
	}

	#pnames {
		margin-left: 260px;
		margin-bottom: 20px;
	}
	.ptext {
	    margin-left: 8%;
	}
	.social {
		width: 100px; height: 100px;
	}
	.pic {
		height: 300px;
  		width: 300px;
	}

}


