<div class="container">
<!-- 	<p id="text">Contact Me</p> -->

	<h2 class="title">Let's get in touch!</h2>
	<p id="contact">Want to discuss your ideas for a project or just want to say hi? <br>Awesome! Go ahead, I'd love to connect with you.</p>
	<a class="social" href="https://www.facebook.com/angel.pan.1656" target="_blank">
	     <div class="front">
			<i class="fa fa-facebook"></i>
	     </div>
	     <div class="back">
			<i class="fa fa-facebook"></i>
	     </div>
	</a>

	<a class="social social-twitter" href="https://twitter.com/fireangelP" target="_blank">
	     <div class="front">
			<i class="fa fa-twitter"></i>
	     </div>
	     <div class="back">
			<i class="fa fa-twitter"></i>
	     </div>
	</a>

	<a class="social social-instagram" href="https://www.instagram.com/fireangelll/" target="_blank">
	     <div class="front">
			<i class="fa fa-instagram"></i>
	     </div>
	     <div class="back">
			<i class="fa fa-instagram"></i>
	     </div>
	</a>

	<a class="social social-github" href="https://github.com/angelpyt" target="_blank">
	     <div class="front">
			<i class="fa fa-github"></i>
	     </div>
	     <div class="back">
			<i class="fa fa-github"></i>
	     </div>
	</a>

	<a class="social social-linkedin" href="https://www.linkedin.com/in/yutong-pan-34022091" target="_blank">
	     <div class="front">
			<i class="fa fa-linkedin"></i>
	     </div>
	     <div class="back">
			<i class="fa fa-linkedin"></i>
	     </div>
	</a>

	<a class="social social-envelope" href="mailto:yutonp@uw.edu" target="_blank">
	     <div class="front">
			<i class="fa fa-envelope"></i>
	     </div>
	     <div class="back">
			<i class="fa fa-envelope"></i>
	     </div>
	</a>

<!-- 	<div id="icon">
	  <a href="https://twitter.com/fireangelP" target="_blank"><i class="fa fa-twitter fa-3x"></i></a> 
	  <a href="tel:206-660-7971"><i class="fa fa-phone fa-3x"></i></a>
	  <a href="https://github.com/angelpyt"><i class="fa fa-github-alt fa-3x"></i></a>
	  <a href="https://www.facebook.com/angel.pan.1656"><i class="fa fa-facebook fa-3x"></i></a>
	  <a href="mailto:yutonp@uw.edu"><i class="fa fa-envelope fa-3x"></i></a>
	</div> -->
</div>